<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Tracker</title>
    <link rel="stylesheet" href="../css/styles.css">
    <script src="../js/date.js"></script>
    <style>
      /* 初期状態で選択肢を非表示にする */
      #choices {
        display: none;
        margin-top: 10px;
      }
    </style>
  </head>

  <body>
    <h1>Food Tracker</h1>

    <div class="container">
      <button class="custom-button" onclick="showChoices()">
        Add+ / Delete
      </button>
      <div id="choices">
        <button class="choice-button" onclick="selectChoice('Add+')">Add+</button>
        <button class="choice-button" onclick="selectChoice('Delete')">Delete</button>
      </div>
      <p id="selectedChoice"></p>
    </div>

    <ul class="tracker-list">
      <li class="tracker-item">
        <span class="circle"></span>
        <span class="date">2024/11/16</span> <!-- 目標日を具体的に設定 -->
      </li>
      <li class="tracker-item">
        <span class="circle"></span>
        <span class="date">2024/11/25</span>
      </li>
      <li class="tracker-item">
        <span class="circle"></span>
        <span class="date">2024/11/30</span>
      </li>
    </ul>


    <script src="index.js"></script>
  </body>

</html>